.benefits {
  box-sizing: border-box;
  margin-top: 72px;
  width: 100%;
  background-color: #1e1823;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.benefit-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}

.benefit-item-meta {
  width: 308px;
}

.benefit-item-icon {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #ffffff80;
}

.benefit-item-icon i {
  font-size: 28px;
  color: var(--main-color);
}

.benefit-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.benefit-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -2%;
  color: #ffffffb2;
  font-style: normal;
}

.benefit-item:last-child .benefit-line {
  display: none;
}

.benefit-line {
  display: none;
  width: 0px;
  height: 124px;
  border: 1px solid #ffffff80;
}

@media (min-width: 768px) {
  .benefits {
    padding: 50px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .benefit-item {
    width: fit-content;
    height: 244px;
  }

  .benefit-item-meta {
    height: 244px;
  }
}

@media (min-width: 1024px) {
  .benefits {
    flex-wrap: nowrap;
    gap: 70px;
  }

  .benefit-line {
    display: block;
  }
}
