.footer {
  width: 100%;
  background-color: #1e1823;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.footer-line {
  width: 100%;
  border: 1px solid #ffffff1a;
}

.footer-slogan {
  width: 100%;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -2%;
  color: white;
}

.footer-slogan span {
  color: var(--main-color);
}

.footer-contacts-block {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}

.footer-contacts-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: white;
}

.footer-contacts {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 4px;
}

.footer-contacts a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer-contacts a:hover {
  color: white;
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.footer-menu-list {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 24px;
  padding: 0;
}

.footer-menu-item a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -2%;
  vertical-align: middle;
  color: white;
  text-decoration: none;
  transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer-menu-item a:hover {
  color: var(--main-color);
}

.footer-subscribe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 18px;
}

.footer-subscribe-button {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: white;
  padding: 17px 20px;
  border-radius: 100px;
  border: 0;
  background-color: var(--main-color);
  cursor: pointer;
}

.footer-subscribe-input {
  width: 70%;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -2%;
  vertical-align: middle;
  padding: 14px 20px;
  border-radius: 30px;
  border: 1.5px solid #ffffff26;
  color: white;
  background-color: transparent;
  outline: none;
  transition: border-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer-subscribe-input:focus {
  border-color: var(--main-color);
}

.footer-subscribe-input::placeholder {
  color: #ffffff4d;
}

@media (min-width: 768px) {
  .footer {
    gap: 28px;
    padding: 50px 32px;
  }

  .footer-slogan {
    width: 350px;
    font-size: 28px;
    line-height: 34px;
  }

  .footer-container {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .footer-menu-list {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 18px;
  }

  .footer-subscribe-container {
    margin-top: 0;
  }

  .footer-subscribe-button {
    padding: 17px 24px;
  }

  .footer-subscribe-input {
    width: 220px;
    font-size: 16px;
    padding: 14px 24px;
  }
}

@media (min-width: 1024px) {
  .footer-menu-list {
    gap: 24px;
  }

  .footer-subscribe-button {
    padding: 17px 40px;
  }

  .footer-subscribe-input {
    width: 313px;
    font-size: 18px;
  }
}
