.hero {
  box-sizing: border-box;
  width: 100%;
  height: 630px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      rgba(30, 24, 35, 0.4),
      rgba(30, 24, 35, 0.4)
    ),
    url(../images/hero.jpg);
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 72px 40px;
  border-radius: 30px;
}

.hero-blocks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 32px;
}

.hero-slogan {
  width: 484px;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -3%;
  color: #ffffff;
  margin: 0;
}

.hero-buttons {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-main-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.hero-main-button {
  font-weight: 600;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  border-radius: 100px;
  padding: 14px 40px;
  color: white;
  border: 1px solid white;
  background-color: transparent;
}

.hero-main-button:hover {
  cursor: pointer;
}

.hero-primary-button {
  background-color: var(--main-color);
  border-color: transparent;
}

.hero-scroll-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.hero-scroll-button-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -3%;
  color: white;
}

.hero-scroll-button {
  width: 38px;
  height: 38px;
  border-radius: 100px;
  border: none;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: background-color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hero-scroll-button i {
  color: var(--main-color);
  font-size: 24px;
  transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hero-scroll-button:hover {
  cursor: pointer;
  background-color: var(--main-color);
}

.hero-scroll-button:hover i {
  color: white;
}
