@import url("./header.css");
@import url("./hero.css");
@import url("./benefits.css");
@import url("./ingredients.css");
@import url("./how.css");
@import url("./review.css");
@import url("./footer.css");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
  font-family: "Montserrat", sans-serif;
}
